body {
  font: 400 12px arial;
  font-family: Helvetica Neue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Roboto, Arial, Lucida Grande, sans-serif;
}

.text-orange {
  color: #ff6a00;
}

.text-orange:hover {
  color: #ff6a00;
}

.btn-orange {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff6a00;
  --bs-btn-border-color: rgb(245, 164, 13);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #de5d00;
  --bs-btn-hover-border-color: #ff6a00;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff6a00;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(253, 207, 121);
  --bs-btn-disabled-border-color: rgb(255, 199, 94);
}

/* #forgotPassword {
  text-align: right;
} */

.forms {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: none !important;
}

.forms:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #1996e6;
  outline: 0;
}

.size {
  width: 48px !important;
  height: 48px !important;
}

.input-margin {
  margin-top: 5px !important;
}

.hover-orange:hover {
  color: #ff6a00 !important;
}

.margin-0 {
  margin-bottom: 0 !important;
}

.text-ash {
  color: #b4b4b4b5;
}